/*
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;

Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
*/

* {

}

#wrapper {
  background-color: #F2F1E8;
  /*background-color: red;*/
}

#site-header {
    	background-color: #FFFFFF;
      position: relative;
      width: 100%;
}
a {
  transition: color 0.5s ease;
}

a:hover {
  text-decoration: none;
  color: #CD5D67
}

#logo {
  background-image: url(./images/bent-creek-logo.png);
  background-size: cover;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 8px;
  left: 8px;
  transition: background-image 0.5s ease;
}

#logo:hover {
  background-image: url(./images/bent-creek-logo-coral.png);
  background-size: contain;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 8px;
  left: 8px;
}

#active{
  color: #968772;
}

#site-nav {
  	font-family: 'Roboto', sans-serif;
  	color: #2B2F26;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
}

h1{
  font-size: 90px;
  text-align: center;
}

h2 {
  font-size: 70px;
  text-align: center;
}

h3 {
  font-size: 50px;
  text-align: left;
}

#index h3{
  text-align: center;
}

p {
  line-height: 2;
}

input {
  font-family: 'Roboto', sans-serif;
  color: #2B2F26;
  font-size: 1em;
}

#signUpBox {
  display: flex;
  justify-content: center;
}

#signUpBox h3{
  text-align: center;
}

#signUpBox p {
  text-align: center;
}

#signUpBox form {
  display: flex;
  flex-flow: column;
}

#SUbox {
  width: 70%;
  height: 500px;
  background-color: white;
  order: 1;
}

input {
  border: none;
  border-bottom: 2px solid #968772;
}

#nameInput, #emailInput {
  text-decoration: underline;
  background-color: #FFFFFF;
  width: 95%;
  margin-bottom: 5px;
  /*border: 0px 0px 1px 0px solid #968772;*/
}

#nameInput {
  display: flex;
  justify-content: center;
}

#emailInput {
  display: flex;
  justify-content: center;
}

#button {
  display: flex;
  justify-content: center;
}

#signupButton {
  width: 300px;
  height: 50px;
  background: #968772;
  color: #FFFFFF;
  transition: background-color 0.5s ease;
  justify-content: center;
}

#signupButton:hover {
  background-color: #967343;
  align: center;
}

.quote {
  font-style: italic;
  border-left: 2px solid #968772;
  padding-left: 40px;
  margin-top: 30px;
}

main p {
  font-size: 18px;
  text-align: left;
}

nav p a {
  color: #2B2F26;
  font-size: 18px;
  padding: 0px 30px 0px 30px;
  text-transform: uppercase;
}

main {
  flex-wrap: wrap;
  margin: 25px 50px 25px 50px;
}

main p a {
  color: #968772;
}
main p a:hover {
  color: #967343;
}

main, footer {
	font-family: 'Merriweather', serif;
	color: #131511;
}

footer {
  display: block;
  background-color: #131511;
  color: #ffffff;
  flex-wrap: nowrap;
  text-align: center;
  padding: 10px;
}

table {
  width: auto;
  border-collapse: collapse;
  font-size: 18px;
}

th, td {
  padding: 7px 10px 7px 10px;
  border: 1px solid #131511;
}

aside{
  width: 25%;
  padding: 10px;
}

aside img {
  width: 150px;
}

aside p {
  font-size: 16px;
  line-height: 1.5;
}

.even {
  background-color: #F2EADD;
}

#newsletter {
  background-image: url("./images/background-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #F2EADD;
  order: -1;
}

#newsletter h3 {
  font-weight: lighter;
}

.picture-tags div{
  display: flex;
  margin: 20px;
}

.picture-tags p{
  position: absolute;
  color: #F2EADD;
  background-color: #968772;
  padding: 5px;
  bottom: 5px;
  left: 0px;
  line-height: 1.3em;
}

span {
  position: relative;
  margin: 10px;
}

#endless {
flex-grow: 3;
}

#endless-pic {
  max-height: 400px;
  width: 100%;
}

#sets-pic {
  height: 400px;
}

#textures-pic {
  height: 400px;
}

#tea-pic {
  height: 200px;
}

#jars-pic {
  height: 200px;
}

#wasabi {
  flex-grow: 2;
}

#wasabi-pic {
  max-height: 200px;
  width: 100%;
}

#sippin-pic {
  height: 200px;
}

#birdhouse-pic {
  height: 90px;
  float: left;
  padding-right: 15px;
}



#banner-background {
  background-image: url("./images/background-3.jpg");
  /*background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 100%;*/
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#banner-background h1 {
  line-height: 450px;
  color: #F2F1E8;
  font-weight: normal;
  font-size: 90px;
}

.fgroup {
  display: flex;
  justify-content: space-between;
}

.row1 {
  display: flex;
  justify-content: space-between;
}

.row2 {
  display: flex;
  justify-content: space-between;
}
