/*
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;

Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
*/

* {

}

#wrapper {
  background-color: #F2F1E8;
}

#site-header {
    	background-color: #FFFFFF;
      position: relative;
      width: 100%;
}

a:active {
  text-decoration: none;
  color: #968772;
}

a:hover {
  text-decoration: none;
  color: #CD5D67
}

#logo {
  position: absolute;
  height: 50px;
  top: 0px;
  left: 0px;

}

#site-nav {
  	font-family: 'Roboto', sans-serif;
  	color: #2B2F26;

    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
}

h1{
  font-size: 90px;
  text-align: center;
}

h2 {
  font-size: 70px;
  text-align: center;
}

h3 {
  font-size: 50px;
  text-align: center;
}

main p {
  font-size: 18px;
  text-align: left;
  width: 70%;
}

nav p a {
  color: #2B2F26;
  font-size: 18px;
  padding: 0px 30px 0px 30px;
}

main {
  flex-wrap: wrap;
  margin: 25px 50px 25px 50px;
}

main p a {
  color: #968772;
}
main p a:hover {
  color: #967343;
}

main, footer {
	font-family: 'Merriweather', serif;
	color: #131511;
}

footer {
  display: block;
  background-color: #131511;
  color: #ffffff;
  flex-wrap: nowrap;
  text-align: center;
  padding: 10px;
}

table {
  width: auto;
  border-collapse: collapse;
  font-size: 18px;
}

th, td {
  padding: 7px 10px 7px 10px;
  border: 1px solid #131511;
}

aside{
  width: 150px;
  padding: 10px;
}

aside img {
  width: 150px;
}

aside p {
  font-size: 12px;
}

.even {
  background-color: #F2EADD;
}

#newsletter {
  background-image: url("./images/background-2.jpg");
  background-size: cover;
}

#endless-pic {
  height: 200px;
}

#sets-pic {
  height: 200px;
}

#textures-pic {
  height: 200px;
}

#tea-pic {
  height: 150px;
}

#jars-pic {
  height: 150px;
}

#wasabi-pic {
  height: 150px;
}

#sippin-pic {
  height: 150px;
}

#birdhouse-pic {
  height: 120px;
  float: left;
  padding-right: 15px;
}

#signupbox {
  width: 500px;
  height: 500px;
  background-color: white;
  order 1
}

#banner-background {
  background-image: url("./images/background-3.jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 100%;
}

#banner-background h1 {
  line-height: 450px;
  color: #F2F1E8;
  font-weight: normal;
  font-size: 90px;
}

.facilities {
  float: left;
  width: 700px;
}
